<div class="order-summary">
  <div class="order-summary-header">
    <h3>Order Summary</h3>
  </div>

  <div class="order-summary-body" *ngIf="(basketService.basketTotal$ | async) as total">
    <ul class="summary-list">
      <li class="summary-item">
        <span class="item-label">Subtotal</span>
        <span class="item-value">{{ total.total | currency: 'VND' }}</span>
      </li>
      <li class="summary-item">
        <span class="item-label">Shipping</span>
        <span class="item-value">{{ 0 | currency: 'VND' }}</span>
      </li>
      <li class="summary-item total">
        <span class="item-label">Total</span>
        <span class="item-value">{{ total.total | currency: 'VND' }}</span>
      </li>
    </ul>
  </div>
</div>